<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="myactuator_ros2_control"
    params="name serial_number:=^|000000000000 enable_joint0:=^|true enable_joint1:=^|true joint0_name:=^|joint0 joint1_name:=^|joint1">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>myactuator_hardware_interface/myactuatorHardwareInterface</plugin>
      </hardware>


      <xacro:if value="${enable_joint0}">
        <joint name="${joint0_name}">
          <param name="ifname">"can0"</param>
          <param name="can_id">1</param>
          <param name="timeout">0.1</param>
          <param name="position_acceleration">200000</param>
          <param name="position_deceleration">200000</param>
          <param name="velocity_acceleration">200000</param>
          <param name="velocity_deceleration">200000</param>
          <param name="kp_current">50</param>
          <param name="ki_current">50</param>
          <param name="kp_speed">100</param>
          <param name="ki_speed">5</param>
          <param name="kp_position">100</param>
          <param name="ki_position">0</param>
        </joint>
      </xacro:if>

      <xacro:if value="${enable_joint1}">
        <joint name="${joint1_name}">
          <param name="ifname">"can0"</param>
          <param name="can_id">2</param>
          <param name="timeout">0.1</param>
          <param name="position_acceleration">200000</param>
          <param name="position_deceleration">200000</param>
          <param name="velocity_acceleration">200000</param>
          <param name="velocity_deceleration">200000</param>
          <param name="kp_current">50</param>
          <param name="ki_current">50</param>
          <param name="kp_speed">100</param>
          <param name="ki_speed">5</param>
          <param name="kp_position">100</param>
          <param name="ki_position">0</param>
        </joint>
      </xacro:if>
    </ros2_control>

  </xacro:macro>

</robot>
